<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="ConnStringLocal" connectionString="server=localhost;database=tp2_net;Integrated Security=false; user=net; password=net;"
        providerName="System.Data.SqlClient" />
    <add name="ConnStringExpress" connectionString="Server=localhost\SQLEXPRESS;Database=tp2_net;&#xD;&#xA;Integrated Security=false; User=net; Password=net;"
        providerName="System.Data.SqlClient" />
    <add name="ConnStringServerISI" connectionString="Server=serverisi; Database=tp2_net; Integrated&#xD;&#xA;Security=false; User=net; Password=net;"
        providerName="System.Data.SqlClient" />
    <add name="ConnStringExpress2" connectionString="Server=localhost\SQLEXPRESS;Database=TP-Net;&#xD;&#xA;Integrated Security=false; User=net; Password=net;"
        providerName="System.Data.SqlClient" />
    <add name="UI.Desktop.Properties.Settings.TP_NetConnectionString"
        connectionString="Data Source=AGUSTINETCH2499\SQLEXPRESS;Initial Catalog=TP-Net;Persist Security Info=True;User ID=net;Password=net"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>